@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');


body {
  /* font-family: Arial, sans-serif; */
  font-family: "Workbench", sans-serif;
  margin: 20px;
  background-color: #000000;
}

h1 {
  color: #8e4fd6;
}

h2 {
  color: rgb(194, 153, 53);
  background-color: rgba(200, 200, 200, 0.1);
}

p {
  color: aquamarine;
}

li {
  color: aquamarine;
}


.workbench-font> {
  font-family: "Workbench", sans-serif;
  /* font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0; */
}




.login-container {
  border: solid 1px blue;
}

#author {
  text-decoration: underline;
}

.login-container {
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(8, 189, 140, 0.1);
  max-width: 300px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.btn-login {
  background-color: #28a745;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.btn-login:hover {
  background-color: #218838;
}

.message {
  margin-top: 10px;
  color: red;
}

.inlineList>li {
  display: inline;
}